# BEER COMSUMPTION BY COUNTRY / CONSUMO DE CERVEJA POR PAÍS #


### A simple Plotly  & Pandas Python demonstration / Uma simples demosntração do uso do Plotly & Pandas###

=======================================================================================================

**English**

Plotly, as describe : "Plotly's Python graphing library makes interactive, publication-quality graphs online. Examples of how to make line plots, scatter plots, area charts, bar charts, error bars, box plots, histograms, heatmaps, subplots, multiple-axes, polar charts, and bubble charts." 

Below I have conclued a simple task of using Pandas python for the datawareusing and plotly for the 3D interactive graphs.

=======================================================================================================

**Português**

O Plotly é uma nova biblioteca para plotagem de gráficos em 3D e interativos

Abaixo fiz O Data Warehousing usando Pandas e os gráficos interativos usando Plotly

In [1]:
import plotly.plotly as py
import pandas as pd

In [5]:
from plotly.offline import download_plotlyjs, init_notebook_mode, plot,iplot
import plotly.graph_objs as go
#import all the necessary libraries above
#Acima import todas as bibliotecas necessárias

In [3]:
init_notebook_mode(connected = True)
#initiate the ini-notebook
#aqui inicio o initi_notebook

In [6]:
#
df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2014_world_gdp_with_codes.csv')

In [7]:
df.head()

          COUNTRY  GDP (BILLIONS) CODE
0     Afghanistan           21.71  AFG
1         Albania           13.40  ALB
2         Algeria          227.80  DZA
3  American Samoa            0.75  ASM
4         Andorra            4.80  AND

In [8]:
df2 = pd.read_html('https://en.wikipedia.org/wiki/List_of_countries_by_beer_consumption_per_capita')

In [12]:
countries_beer = df2[0]
countries_beer.head()

,0,1,2,3,4,5
0,Rank,Country,Consumption per capita [1] (litres),2013–2014 change (633–ml bottles),Total national consumption (106 L)[A],Year
1,1,Czech Republic,142.6,-7.3,1879,2014
2,2,Seychelles,114.6,7.8,11,2014
3,3,Austria,104.8,-1.7,894,2014
4,4,Germany,104.7,4.4,8441,2014

In [13]:
countries_beer[1] = countries_beer[1].str.replace('[', '')
countries_beer[1] = countries_beer[1].str.replace(']', '')
countries_beer[1] = countries_beer[1].str.replace('2', '')
countries_beer[1] = countries_beer[1].str.replace('3', '')
countries_beer[1] = countries_beer[1].str.replace('4', '')
countries_beer[1] = countries_beer[1].str.replace('5', '')
countries_beer[1] = countries_beer[1].str.replace('6', '')
countries_beer[1] = countries_beer[1].str.replace('7', '')
countries_beer[1] = countries_beer[1].str.replace('8', '')
countries_beer[1] = countries_beer[1].str.replace('9', '')
countries_beer[1] = countries_beer[1].str.replace('0', '')
countries_beer[1] = countries_beer[1].str.replace('10', '')
countries_beer[1] = countries_beer[1].str.replace('11', '')  
countries_beer[1] = countries_beer[1].str.replace('1', '')

In [14]:
countries = df
countries.head()

          COUNTRY  GDP (BILLIONS) CODE
0     Afghanistan           21.71  AFG
1         Albania           13.40  ALB
2         Algeria          227.80  DZA
3  American Samoa            0.75  ASM
4         Andorra            4.80  AND

In [15]:
countries_beer.columns = countries_beer.iloc[0] 
countries_beer.reindex(countries_beer.index.drop(0))

,Rank,Country,Consumption per capita [1] (litres),2013–2014 change (633–ml bottles),Total national consumption (106 L)[A],Year
1,1,Czech Republic,142.6,-7.3,1879,2014
2,2,Seychelles,114.6,7.8,11,2014
3,3,Austria,104.8,-1.7,894,2014
4,4,Germany,104.7,4.4,8441,2014
5,5,Namibia,104,-7.2,250,2014
6,6,Poland,97.8,0.1,3776,2014
7,7,Ireland,97,-0.5,454,2014
8,8,Lithuania,96.6,10.7,282,2014
9,9,Belize,93.8,-8.8,33,2014
10,10,Estonia,93.5,-5,123,2014
11,11,Gabon,88.9,22.3,150,2014
12,12,Romania,85.9,8.3,1689,2014
13,13,Spain,80.6,5.9,3729,2014
14,14,Finland,78.5,-2.7,430,2014
15,15,Latvia,78.2,4.6,156,2014
16,16,Panama,76.6,5.1,296,2014
17,17,United States,75.8,-0.3,24172,2014
18,18,Slovenia,75,0.8,155,2014
19,19,Australia,74.2,-0.9,1753,2014
20,20,Slovakia,74.1,0.3,402,2014
21,21,Croatia,72.5,-3.9,309,2014
22,22,Belgium,72,0,810,2014
23,23,Netherlands,71.4,2.6,1205,2014
24,24,Venezuela,70.8,1.2,2173,2014
25,25,Bulgaria,69.8,-5.1,503,2014
26,26,Russia,68.9,NaN,10062,2014
27,27,Brazil,68.3,5.2,13146,2014
28,28,United Kingdom,67.7,2.4,4375,2014
29,29,Republic of the Congo,66.6,-1.3,300,2014
30,30,Angola,64.2,NaN,1160,2012
31,31,Hungary,63.3,1.9,626,2014
32,32,New Zealand,62.7,-2,282,2014
33,33,Montenegro,62.1,-7.2,39,2014
34,34,Denmark,61.9,1.9,350,2014
35,35,Botswana,61.8,46.6,137,2014
36,36,Iceland,61.8,1.9,20,2014
37,37,Ukraine,61.6,NaN,2760,2012
38,38,Serbia,60.3,NaN,43.2,2013
39,39,Canada,60.3,NaN,212.0,2013
40,40,Mexico,59.9,NaN,6890,2012
41,41,South Africa,58.4,-2,3150,2014
42,42,Switzerland,58.3,NaN,460,2012
43,43,Bosnia and Herzegovina,56.1,NaN,220,2012
44,44,Sweden,52.7,NaN,480,2012
45,45,Argentina,49,NaN,1980,NaN
46,46,Republic of Korea,45.8,6.5,2292,2014
47,47,Japan,42.6,-0.8,5407,2014
48,48,Vietnam,42,NaN,3788,2016
49,49,China,32,NaN,44683,2012
50,50,Italy,29,NaN,1772,2011
51,51,Israel,14,NaN,NaN,NaN
52,52,Turkey,13,NaN,NaN,NaN
53,53,Kenya,12,NaN,NaN,NaN
54,54,Uzbekistan,11,NaN,NaN,NaN
55,55,Tanzania,8,NaN,NaN,NaN
56,56,Uganda,6,NaN,NaN,NaN
57,57,Sri Lanka,2,NaN,50,NaN
58,58,India,2,NaN,1400,2008

In [16]:
countries_concatenated = pd.merge(left=countries, right=countries_beer, left_on='COUNTRY', right_on='Country')

In [17]:
countries_concatenated = countries_concatenated[['COUNTRY','CODE','Rank','Consumption per capita [1] (litres)']]
countries_concatenated.head()

     COUNTRY CODE Rank Consumption per capita [1] (litres)
0     Angola  AGO   30                                64.2
1  Argentina  ARG   45                                  49
2  Australia  AUS   19                                74.2
3    Austria  AUT    3                               104.8
4    Belgium  BEL   22                                  72

In [18]:
countries_concatenated.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56 entries, 0 to 55
Data columns (total 4 columns):
COUNTRY                                56 non-null object
CODE                                   56 non-null object
Rank                                   56 non-null object
Consumption per capita [1] (litres)    56 non-null object
dtypes: object(4)
memory usage: 2.2+ KB

In [19]:
countries_concatenated['Rank'] = countries_concatenated['Rank'].astype(int)

In [21]:
countries_concatenated.sort(columns='Rank', axis=0, ascending=True)
countries_concatenated.set_index('Rank', drop=True, append=False, inplace=True, verify_integrity=False)

/home/anderson/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning:

sort(columns=....) is deprecated, use sort_values(by=.....)

In [23]:
countries_concatenated.sort_index(axis=0, level=None, ascending=True, inplace=True)

In [24]:
countries_concatenated

                     COUNTRY CODE Consumption per capita [1] (litres)
Rank
1             Czech Republic  CZE                               142.6
2                 Seychelles  SYC                               114.6
3                    Austria  AUT                               104.8
4                    Germany  DEU                               104.7
5                    Namibia  NAM                                 104
6                     Poland  POL                                97.8
7                    Ireland  IRL                                  97
8                  Lithuania  LTU                                96.6
9                     Belize  BLZ                                93.8
10                   Estonia  EST                                93.5
11                     Gabon  GAB                                88.9
12                   Romania  ROU                                85.9
13                     Spain  ESP                                80.6
14                   Finland  FIN                                78.5
15                    Latvia  LVA                                78.2
16                    Panama  PAN                                76.6
17             United States  USA                                75.8
18                  Slovenia  SVN                                  75
19                 Australia  AUS                                74.2
20                  Slovakia  SVK                                74.1
21                   Croatia  HRV                                72.5
22                   Belgium  BEL                                  72
23               Netherlands  NLD                                71.4
24                 Venezuela  VEN                                70.8
25                  Bulgaria  BGR                                69.8
26                    Russia  RUS                                68.9
27                    Brazil  BRA                                68.3
28            United Kingdom  GBR                                67.7
30                    Angola  AGO                                64.2
31                   Hungary  HUN                                63.3
32               New Zealand  NZL                                62.7
33                Montenegro  MNE                                62.1
34                   Denmark  DNK                                61.9
35                  Botswana  BWA                                61.8
36                   Iceland  ISL                                61.8
37                   Ukraine  UKR                                61.6
38                    Serbia  SRB                                60.3
39                    Canada  CAN                                60.3
40                    Mexico  MEX                                59.9
41              South Africa  ZAF                                58.4
42               Switzerland  CHE                                58.3
43    Bosnia and Herzegovina  BIH                                56.1
44                    Sweden  SWE                                52.7
45                 Argentina  ARG                                  49
47                     Japan  JPN                                42.6
48                   Vietnam  VNM                                  42
49                     China  CHN                                  32
50                     Italy  ITA                                  29
51                    Israel  ISR                                  14
52                    Turkey  TUR                                  13
53                     Kenya  KEN                                  12
54                Uzbekistan  UZB                                  11
55                  Tanzania  TZA                                   8
56                    Uganda  UGA                                   6
57                 Sri Lanka  LKA                                   2
58                     India  IND                                   2

In [25]:
data = dict(type = 'choropleth',
           locations = countries_concatenated['CODE'],
           z = countries_concatenated['Consumption per capita [1] (litres)'],
            text = countries_concatenated['COUNTRY'],
            colorbar = {'title': 'Consumption per capita [1] (litres)'})

In [26]:
layout = dict(title = 'Consumption of beer - Per Capita',
             geo = dict(showframe = False,
                       projection = {'type':'natural earth'}))

In [27]:
choromap3 = go.Figure(data=[data],layout=layout)

In [28]:
iplot(choromap3)


## Now we can state interesting Facts/ Agora podemos ressaltar os fatos interessantes : ## 

*English* 

* Czech Republic has the highes comsumption per capita 
* India has the lowest consumption  capita
* Ireland is the English Speaking country with highest comsumption
* Belize has the highest comsumption per capita in the Americas
* Italy has the lowest comsumption per capita in Europe

*Português* 
* República Theca tem o mais alto consumo per capita
* A Índia tem o menor consumo de cerveja per capita
* A Irlanda é o país com Englis Falando mais alto comsume
* Belize tem a maior comsumpiont per capita nas Américas
* A Itália tem o menor Consumo de cerveja per capita